<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
       <meta charset="UTF-8">

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="responsive.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="icon" 
     type="image/png" 
     href="../static/lol.png">    
</head>
<body>
    <h1>
        
    </h1>

<div class="dropdown">
  <a href="/"><img src="../static/bron.webp" alt="Cinque Terre" width="200" height="170">
  </a>
  <div class="dropdown-content">
  <img src="../static/bron.webp" alt="Cinque Terre" width="350" height="270">
  <div id="desc">LeBron jersey NO.6</div>
  </div>
</div>

<div class="dropdown">
  <a href="/"><img src="../static/ween.jpeg" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="dropdown-content">
  <img src="../static/ween.jpeg" alt="Cinque Terre" width="420" height="270">
  <div id="desc">Nike Kyrie 4 Halloween
</div>
  </div>
</div>



</body>
</html>